{% extends "partials/menu.html" %}
{% block title %}Attach Tag{% endblock %}
{% block header %}{{ link.title }}{% endblock %}
{% block content %}
    <div class="row">
	<div class="columns small-12">
	    <form action="{{ url_for('attach_tag', id=link.id) }}" method="post">
		<div class="row">
		    <div class="columns small-9">
	        	<input type="text" placeholder="write a tag" required name="tag">
		    </div>
		    <div class="columns small-3">
	        	<button type="submit" class="button primary hollow expanded">add</button>
		    </div>
		</div>
	    </form>
	</div>
    </div>
    <div class="row">
	<div class="columns small-12">
	    <p>
	    	{% for tag in link.tags %}
		    <span class="label primary">
			<span style="color:white;">{{ tag.name }}</span> 
			<a style="color:white;" href="{{ url_for('delete_link_tag', link_id=link.id, tag_id=tag.id) }}">
			    <small>
				<i class="fi-x"></i>
			    </small>
			</a>
		    </span>
		{% endfor %}
	    </p>
	</div>
    </div>
{% endblock %}
