{% extends "index.html" %}
{% block title %}Links{% endblock %}
{% block header %}My list{% endblock %}
{% block content %}
    <div class="row">
        <div class="columns small-12">
            {% for link in links %}
	    	<a href="{{ url_for('detail_link', id=link.id) }}">
		    <div class="callout">
			<p>
			    <strong>{{ link.title }}</strong>
			    <a class="hollow button alert float-right" href="{{ url_for('delete_link', id=link.id) }}">
				<span class="show-for-sr">delete</span>
	 	                <span aria-hidden="true"><i class="fi-trash"></i></span>
		            </a>
	                    <a class="hollow button primary float-right" href="{{ url_for('attach_tag', id=link.id) }}">
		                <span class="show-for-sr">add tag</span>
		                <span aria-hidden="true"><i class="fi-pricetag-multiple"></i></span>
		            </a>
	                    <a class="hollow button warning float-right" href="{{ url_for('favorite_link', id=link.id) }}">
		                <span class="show-for-sr">favorite</span>
		                <span aria-hidden="true"><i class="fi-star"></i></span>
		            </a>
	                    <a class="hollow button secondary float-right" href="{{ url_for('archived_link', id=link.id) }}">
		                <span class="show-for-sr">archived</span>
		                <span aria-hidden="true"><i class="fi-check"></i></span>
		            </a>
			</p>
	                <p>
			    <a href="{{ link.url }}"><small>{{ link.url }}</small></a> 
			    {% for tag in link.tags %}
			        <span class="label success">
				    <a href="{{ url_for('detail_tag', id=tag.id) }}"><small>{{ tag.name }}</small></a>
				</span>
			    {% endfor %}
	                </p>
	            </div>
		</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
