{% extends "partials/blank.html" %}
{% block title %}Login{% endblock %}
{% block header %}Login{% endblock %}
{% block content %}
    <div class="row">
	<div class="columns large-8 large-offset-2 small-12">
	    <fieldset class="fieldset">
		<legend>Credentials</legend>
		<form action="{{ url_for('index') }}" method="post">
		    <div class="row">
			<div class="columns large-3 small-12">
			    <label class="text-left middle" for="username">Username:</label>
			</div>
			<div class="columns large-9 small-12">
			    <input type="text" id="username" name="username" placeholder="username" required />
			</div>
		    </div>
		    <div class="row">
			<div class="columns large-3 small-12">
			    <label class="text-left middle" for="password">Password:</label>
			</div>
			<div class="columns large-9 small-12">
			    <input type="password" id="password" name="password" placeholder="password" required />
			</div>
		    </div>
		    <div class="row">
			<div class="columns small-12">
			    <input type="checkbox" id="remember_me" name="remember_me" class="float-left"><label>remember me</label>
			</div>
		    </div>
		    <div class="row">
			<div class="columns small-12">
			    <button class="button hollow expanded" type="submit">login</button>
			</div>
		    </div>
		    <div class="row">
			<div class="columns small-12">
			    <p class="text-center"><small>Sign up <a href="{{ url_for('new_user') }}">here</a></small></p>
			</div>
		    </div>
		</form>
	    </fieldset>
	</div>
    </div>
{% endblock %}
