{% extends "index.html" %}
{% block title %}Tags{% endblock %}
{% block header %}My Tags{% endblock %}
{% block content %}
    <div class="row">
	<div class="columns small-12">
	    <ul class="no-bullet">
	        {% for tag in tags %}
	            <li>
			<span class="label success">
			    <a href="{{ url_for('detail_tag', id=tag.id) }}">{{ tag.name }}</a> 
			    <a href="{{ url_for('delete_tag', id=tag.id) }}"><i class="fi-trash"></i></a>
			</span>
			<span class="badge success">{{ tag.links | length }}</span>
			<span class="show-for-sr">links</span>
		    </li>
	        {% endfor %}
	    </ul>
	</div>
    </div>
{% endblock %}
