{% extends "index.html" %}
{% block title %}Tags{% endblock %}
{% block header %}My Tags{% endblock %}
{% block content %}
    <div class="row">
	<div class="columns small-12">
            {% for letter, tags in o_tags.items() %}
	    	{% if tags['tags'] | length != 0 %}
		    <p>{{ letter }}</p>
		    <hr>
		    {% for tag in tags['tags'] %}
                        <div class="row">
	                    <div class="columns small-12">
			        <span class="label success">
			    	    <a href="{{ url_for('detail_tag', id=tag.id) }}">{{ tag.name }}</a> 
			    	    <a href="{{ url_for('delete_tag', id=tag.id) }}"><i class="fi-trash"></i></a>
			        </span>
			        <span class="badge success">{{ tag.links | length }}</span>
			        <span class="show-for-sr">links</span>
		            </div>
    		        </div>
			<br>
		    {% endfor %}
	        {% endif %}
    	    {% endfor %}
	</div>
    </div>
{% endblock %}
