{% extends "index.html" %}
{% block title %}Search{% endblock %}
{% block header %}Serch{% endblock %}
{% block content %}
    <div class="row">
	<div class="columns small-12">
	    <form method="post" action="{{ url_for('search') }}">
		<div class="row">
		    <div class="columns small-9">
	        	<input type="text" placeholder="words, tags" name="search">
		    </div>
		    <div class="columns small-3">
	        	<button type="submit" class="button primary">search</button>
		    </div>
	    </form>
	    <section>
	    </section>
	</div>
    </div>
    <div class="row">
	<div class="columns small-12">
	<p>
	    {% for link in links %}
	    	<a href="{{ url_for('detail_link', id=link.id) }}">
		    <div class="callout">
			<p><strong>{{ link.title }}</strong></p>
			<p>
			    <a href="{{ link.url }}"><small>{{ link.url }}</small></a>
			    {% for tag in link.tags %}
				<span class="label success">
				    <a href="{{ url_for('detail_tag', id=tag.id) }}">
					<small>{{ tag.name }}</small>
				    </a>
				</span>
			    {% endfor %}
			</p>
		    </div>
		</a>
	    {% else %}
		nothing
	    {% endfor %}
	</p>
	</div>
    </div>
{% endblock %}
